# SYD DAT 3 Lab 1 - Git and Markdown

## Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_4"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article. - [Completed here](../labs/Homework_Analyzing_the_Analyzers_richard_warwick.ipynb)
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory - [Completed Here](../labs/Homework_Data_Science_Handbook_Summaries_richard_warwick.ipynb)

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project - [Completed Here](../homework/Course_Project_Ideas_richard_warwick.ipynb)
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

## Exercise Four - Movie Lens Data

In [1]:
#import pandas library
import pandas as pd

In [20]:
#read table and merge as per labs
pd.read_table('../labs/Week 1/u.user')
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('../labs/Week 1/u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})
movie_cols = ['movie_id', 'title']
movies = pd.read_table('../labs/Week 1/u.item', sep='|', header=None, names=movie_cols, usecols=[0, 1])
rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('../labs/Week 1/u.data', sep='\t', header=None, names=rating_cols)
movie_ratings = pd.merge(movies, ratings)

In [22]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [75]:
# for each occupation, calculate the mean age
byoccupation = users.groupby('occupation') # group occupations
byoccupation['age'].mean() # calculate mean for each group

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [77]:
# for each occupation, calculate the minimum and maximum ages
byoccupation['age'].min() #calculate minimum age per occupation

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [78]:
# for each occupation, calculate the minimum and maximum ages
byoccupation['age'].max() #calculate maximum age per occupation

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [81]:
# for each combination of occupation and gender, calculate the mean age
byoccupation_gender = users.groupby(['occupation','gender']) #group by occupation and gender
byoccupation_gender['age'].mean() # calculate mean for each group

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [83]:
# randomly sample a DataFrame
users.sample()

         age gender occupation zip_code
user_id
236       44      F     writer    53214

In [116]:
# detect duplicate users
users[users.duplicated(keep=False)]

         age gender occupation zip_code
user_id
67        17      M    student    60402
85        51      M   educator    20003
198       21      F    student    55414
350       32      M    student    97301
428       28      M    student    55414
437       27      F      other    20009
460       44      F      other    60630
496       21      F    student    55414
572       51      M   educator    20003
621       17      M    student    60402
684       28      M    student    55414
733       44      F      other    60630
805       27      F      other    20009
890       32      M    student    97301