# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_4"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article

##### Answer
1. Term “data scientists” is often confusing with no clear definition. Survey conducted on four data scientists shows that they have different level s of knowledge and skills in programming, statistics and visualization. However, unlike traditional and established fields, there is no clear career path and skill set defined for data science roles.
2. Quite often there is miscommunication and unrealistic expectations from employers regarding desired skill sets for job role(s). This leads to significant wastage of time and expenses for employers scouting suitable candidates and for job-seekers searching right jobs.
3. Data scientists are clustered into 4 categories (Self-IDs): Developer, Researcher, Creative and Businessperson.  The skills are classified into Business, ML/Big data, Math / OR, Programming and Statistics. There is a co-relation between Self-ID and skills.
4. T-shaped skills for data scientists means they need to have breadth of skills in depth in one area. Such professionals can work in inter-disciplinary areas as data science collaborative and creative field.
5. There needs to be adequate integration between new data scientist hires and rest of the organization. Also there should be well balance data science team. Data scientists can be rotated amongst various teams in an organization to gain breadth of skills and continue to develop their deep expertise.



* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)


* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

##### Answer

##### Datascience handbook – Summary Interview 1 (DJ Patil)

DJ Patil is VP of Products at RelateIQ. He is a PhD in Mathematics who made career transition from academics to industry. He says making career transitions can be struggling; however, one must prove themselves to get hired by employers. To achieve this, he suggests people to acquire breadth of skills, build products, collaborate on team projects, and communicate with peers as data science is a team sport. A data scientist needs to be compassionate in understanding and solving problems, in the sense that you not only show data graphs for a problem but you also give insights about what actions to take further. Personally he thinks having dynamic range of skills like data and UX are beneficial to build useful features like “People you may know” on Linkedin.  They should also put in ample amount of time to understand disparate things of a problem and organization as it helps to develop bonds with team members. A good data scientist should be able to make storytell and create narratives.  And as advised by his PhD advisor, work on simple things as they become hard.

##### Datascience handbook – Summary Interview 2 (Clare Corthell)

Clare is Stanford graduate who designed here own data science course called Open Source Data Science Masters.  The course includes resources for introductory linear algebra, statistics, databases, algorithms, graph analysis, data mining, natural language processing, and machine learning. It was designed from the job descriptions of the companies that Clare was interested in. Other resources include Quora, blogs from zipfian academy and coursera.  To study data science, you don’t need to know everything and should be able to do “just in time” learning like programmers. Also it’s essential to have good mentors and ability to work in teams. For people in school and without much industry exposure, it is important to take initiative and acquire skills that can add value. This can be done by taking up an undefined problem, design a solution by designing and executing a project. This will give confidence, experience and skills during job interview and salary negotiation. Working with a non-profit organization is a good way to do meaningful projects and sharpen skills. Also learning to write production level code makes you hireable and trainable.


#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve
  
#### Project Ideas
##### Project 1 : AirBnB house price prediction

*Overview:*

Shared economy is growing at a very fast rate; it is estimated to be \$15 billion in 2014 and expected to reach at \$225 billion in 2025. Airbnb is one of the pioneering companies in this domain where people can rent their spare bedrooms/homes. I am intrigued to explore their public dataset(s).

*Dataset:*

http://insideairbnb.com/

*Outcome:*

Predicting price of a home/bedroom to be rented to Airbnb.
Compare listings of different cities.

*Modelling technique:*

Linear Regression, data visualization


##### Project 2 : Cooking recipe recommender

*Overview:*

Due to busy lifestyle, people often run out of ideas of cooking delicious food. In this project I want to build a multi ingredient based recipe search engine that will help/recommend people cooking recipes based on ingredients of their choice.

*Dataset:*

Free recipes from any of these websites:

https://developer.yummly.com/

http://allrecipes.com/

http://developer.pearson.com/apis/pearson-kitchen-manager

*Outcome:*

Recommend recipes using choice of ingredients.

Rank recipes based on number of ingredients searched. 

*Modelling technique:*

Clustering techniques, some scoring system


##### Project 3 : Bank Marketing

*Overview:*

Retaining bank customers by introducing new services and products is vital to sustain competition. Predicting potential customers interested in a particular service or product is challenging and is unrealistic to market bank’s services to each and every customer. This project involves predicting potential customers for term deposit subscription.

*Dataset:*

Public data set provided by a Portuguese banking institution - https://archive.ics.uci.edu/ml/datasets/Bank+Marketing

*Outcome:*

Predict if the client will subscribe a term deposit

*Modelling technique:*

Supervised learning method - Classification.


##### Project 4 : Hospital readmission prediction 

*Overview:*

Hospital readmission (admission to hospital within 30 days of initial discharge) is a major healthcare cost in most countries. Hence predicting potential readmission can help to provide better healthcare and reduce cost.

*Dataset:*

Public hospital discharge dataset from Texas. 
http://www.dshs.state.tx.us/THCIC/Hospitals/Download.shtm
I will check if I can obtain something similar for any Australian hospital.

*Outcome:*

Predict if a patient will be readmitted after initial discharge?

*Modelling technique:*

Supervised learning method - Classification.


##### Project 5 : Sentiment Analysis

*Overview:*

Gaining insights from public opinion is crucial for organizations to quickly understand their customers’ attitude and thus react accordingly. In this project I will perform sentiment analysis for brand comparison like banks or telecom providers or grocery stores.

*Dataset:*

Public data from twitter using handles of brands.

*Outcome:*

Positive and Negative sentiment.

*Modelling technique:*

Supervised or non-supervised(clustering)


##### Project 6 : Home Energy consumption prediction

*Overview:*

One of the biggest challenges today is climate change. Australian households are directly responsible for about one-fifth of Australia’s greenhouse gas emissions causing climate. In this project I want to study home energy consumption and find how its consumption can be reduced effectively.

*Dataset:*

This public dataset available from smart grid smart city project trailed by Australian government (though one of the research papers says it does not have enough data to perform individual home energy consumption prediction) https://data.gov.au/dataset/smart-grid-smart-city-customer-trial-data

US based - http://redd.csail.mit.edu/

https://archive.ics.uci.edu/ml/datasets/Individual+household+electric+power+consumption

*Outcome:*

Predicting home energy usage and compare with other households. 

Predict appliance level energy usage

Predict area level energy usage

*Modelling technique:*

Linear regression, clustering


**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

In [2]:
import pandas as pd

### Exercise Four - Movie Lens Data

In [3]:
# read a file from local computer 
pd.read_table('../labs/Week 1/u.user')

          1|24|M|technician|85711
0              2|53|F|other|94043
1             3|23|M|writer|32067
2         4|24|M|technician|43537
3              5|33|F|other|15213
4          6|42|M|executive|98101
5      7|57|M|administrator|91344
6      8|36|M|administrator|05201
7            9|29|M|student|01002
8            10|53|M|lawyer|90703
9             11|39|F|other|30329
10            12|28|F|other|06405
11         13|47|M|educator|29206
12        14|45|M|scientist|55106
13         15|49|F|educator|97301
14    16|21|M|entertainment|10309
15       17|30|M|programmer|06355
16            18|35|F|other|37212
17        19|40|M|librarian|02138
18        20|42|F|homemaker|95660
19           21|26|M|writer|30068
20           22|25|M|writer|40206
21           23|30|F|artist|48197
22           24|21|F|artist|94533
23         25|39|M|engineer|55107
24         26|49|M|engineer|21044
25        27|40|F|librarian|30030
26           28|32|M|writer|55369
27       29|41|M|programmer|94043
28           30|7|M|student|55436
29           31|24|M|artist|10003
..                            ...
912          914|44|F|other|08105
913  915|50|M|entertainment|60614
914       916|27|M|engineer|N2L5N
915        917|22|F|student|20006
916      918|40|M|scientist|70116
917          919|25|M|other|14216
918         920|30|F|artist|90008
919        921|20|F|student|98801
920  922|29|F|administrator|21114
921        923|21|M|student|E2E3R
922          924|29|M|other|11753
923       925|18|F|salesman|49036
924  926|49|M|entertainment|01701
925     927|23|M|programmer|55428
926        928|21|M|student|55408
927      929|44|M|scientist|53711
928      930|28|F|scientist|07310
929       931|60|M|educator|33556
930       932|58|M|educator|06437
931        933|28|M|student|48105
932       934|61|M|engineer|22902
933         935|42|M|doctor|66221
934          936|24|M|other|32789
935       937|48|M|educator|98072
936     938|38|F|technician|55038
937        939|26|F|student|33319
938  940|32|M|administrator|02215
939        941|20|M|student|97229
940      942|48|F|librarian|78209
941        943|22|M|student|77841

[942 rows x 1 columns]

In [4]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code'] 
users = pd.read_table('../labs/Week 1/u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [5]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [6]:
# for each occupation, calculate the mean age
users.groupby('occupation').mean()

                     age
occupation
administrator  38.746835
artist         31.392857
doctor         43.571429
educator       42.010526
engineer       36.388060
entertainment  29.222222
executive      38.718750
healthcare     41.562500
homemaker      32.571429
lawyer         36.750000
librarian      40.000000
marketing      37.615385
none           26.555556
other          34.523810
programmer     33.121212
retired        63.071429
salesman       35.666667
scientist      35.548387
student        22.081633
technician     33.148148
writer         36.311111

In [7]:
# for each occupation, calculate the minimum ages
users.groupby('occupation').age.min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [8]:
# for each occupation, calculate the maximum ages
users.groupby('occupation').age.max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [9]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(['occupation','gender']).mean()

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

In [10]:
# randomly sample a DataFrame
# Here users data is sample by 50%
users_50=users.sample(frac=0.5)
users_50

         age gender     occupation zip_code
user_id
722       50      F      homemaker    17331
891       51      F  administrator    03062
4         24      M     technician    43537
44        26      M     technician    46260
143       42      M     technician    08832
237       49      M  administrator    63146
322       20      M        student    50613
703       26      M       educator    49512
842       40      M         writer    93055
742       35      M        student    29210
808       45      M       salesman    90016
132       24      M          other    94612
228       21      F        student    22003
710       19      M        student    92020
53        26      M     programmer    55414
461       15      M        student    98102
522       36      M       engineer    55443
399       25      M          other    92374
86        26      M  administrator    46005
214       26      F      librarian    11231
734       25      F          other    63108
118       21      M  administrator    90210
163       49      M  administrator    97212
579       32      M       educator    48103
510       34      M          other    98038
62        27      F  administrator    97214
397       17      M        student    27514
604       39      M       educator    11787
309       40      M      scientist    70802
543       33      M      scientist    95123
...      ...    ...            ...      ...
707       56      F      librarian    19146
405       22      F     healthcare    10019
475       30      M     programmer    75230
14        45      M      scientist    55106
229       29      F      librarian    22903
248       25      M        student    37235
867       24      M      scientist    92507
247       28      M       engineer    20770
162       25      M         artist    15610
932       58      M       educator    06437
654       27      F        student    78739
41        33      M       engineer    80525
179       15      M  entertainment    20755
188       42      M        student    29440
832       24      M     technician    77042
486       39      M       educator    93101
551       25      M     programmer    55414
546       36      M      executive    22911
7         57      M  administrator    91344
157       57      M       engineer    70808
288       34      M      marketing    23226
738       35      M     technician    95403
914       44      F          other    08105
219       32      M     programmer    43212
151       38      F  administrator    48103
761       17      M        student    97302
729       19      M        student    56567
293       24      M         writer    60804
830       46      M     programmer    53066
37        23      M        student    55105

[472 rows x 4 columns]

In [11]:
# detect duplicate users
users['is_duplicated']=users.duplicated(['age','gender','occupation','zip_code'])
users

         age gender     occupation zip_code is_duplicated
user_id
1         24      M     technician    85711         False
2         53      F          other    94043         False
3         23      M         writer    32067         False
4         24      M     technician    43537         False
5         33      F          other    15213         False
6         42      M      executive    98101         False
7         57      M  administrator    91344         False
8         36      M  administrator    05201         False
9         29      M        student    01002         False
10        53      M         lawyer    90703         False
11        39      F          other    30329         False
12        28      F          other    06405         False
13        47      M       educator    29206         False
14        45      M      scientist    55106         False
15        49      F       educator    97301         False
16        21      M  entertainment    10309         False
17        30      M     programmer    06355         False
18        35      F          other    37212         False
19        40      M      librarian    02138         False
20        42      F      homemaker    95660         False
21        26      M         writer    30068         False
22        25      M         writer    40206         False
23        30      F         artist    48197         False
24        21      F         artist    94533         False
25        39      M       engineer    55107         False
26        49      M       engineer    21044         False
27        40      F      librarian    30030         False
28        32      M         writer    55369         False
29        41      M     programmer    94043         False
30         7      M        student    55436         False
...      ...    ...            ...      ...           ...
914       44      F          other    08105         False
915       50      M  entertainment    60614         False
916       27      M       engineer    N2L5N         False
917       22      F        student    20006         False
918       40      M      scientist    70116         False
919       25      M          other    14216         False
920       30      F         artist    90008         False
921       20      F        student    98801         False
922       29      F  administrator    21114         False
923       21      M        student    E2E3R         False
924       29      M          other    11753         False
925       18      F       salesman    49036         False
926       49      M  entertainment    01701         False
927       23      M     programmer    55428         False
928       21      M        student    55408         False
929       44      M      scientist    53711         False
930       28      F      scientist    07310         False
931       60      M       educator    33556         False
932       58      M       educator    06437         False
933       28      M        student    48105         False
934       61      M       engineer    22902         False
935       42      M         doctor    66221         False
936       24      M          other    32789         False
937       48      M       educator    98072         False
938       38      F     technician    55038         False
939       26      F        student    33319         False
940       32      M  administrator    02215         False
941       20      M        student    97229         False
942       48      F      librarian    78209         False
943       22      M        student    77841         False

[943 rows x 5 columns]

### Exercise Two - WHO alcohol consumption data (Week 1 labs exercise)

In [12]:
# read drinks.csv into a DataFrame called 'drinks'
drinks = pd.read_table('../labs/Week 1/drinks.csv', sep=',')

In [13]:
# filter DataFrame to only include European countries
drinks[drinks.continent == 'EU']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
1,Albania,89,132,54,4.9,EU
3,Andorra,245,138,312,12.4,EU
7,Armenia,21,179,11,3.8,EU
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
21,Bosnia-Herzegovina,76,173,8,4.6,EU
25,Bulgaria,231,252,94,10.3,EU
42,Croatia,230,87,254,10.2,EU
44,Cyprus,192,154,113,8.2,EU
45,Czech Republic,361,170,134,11.8,EU
48,Denmark,224,81,278,10.4,EU
57,Estonia,224,194,59,9.5,EU
60,Finland,263,133,97,10.0,EU
61,France,127,151,370,11.8,EU
64,Georgia,52,100,149,5.4,EU
65,Germany,346,117,175,11.3,EU
67,Greece,133,112,218,8.3,EU
75,Hungary,234,215,185,11.3,EU
76,Iceland,233,61,78,6.6,EU
81,Ireland,313,118,165,11.4,EU
83,Italy,85,42,237,6.5,EU
93,Latvia,281,216,62,10.5,EU
98,Lithuania,343,244,56,12.9,EU
99,Luxembourg,236,133,271,11.4,EU
105,Malta,149,100,120,6.6,EU
111,Monaco,0,0,0,0.0,EU
113,Montenegro,31,114,128,4.9,EU
120,Netherlands,251,88,190,9.4,EU
126,Norway,169,71,129,6.7,EU
135,Poland,343,215,56,10.9,EU
136,Portugal,194,67,339,11.0,EU
139,Moldova,109,226,18,6.3,EU
140,Romania,297,122,167,10.4,EU
147,San Marino,0,0,0,0.0,EU
151,Serbia,283,131,127,9.6,EU
155,Slovakia,196,293,116,11.4,EU
156,Slovenia,270,51,276,10.6,EU
160,Spain,284,157,112,10.0,EU
165,Sweden,152,60,186,7.2,EU
166,Switzerland,185,100,280,10.2,EU
170,Macedonia,106,27,86,3.9,EU
180,Ukraine,206,237,45,8.9,EU
182,United Kingdom,219,126,195,10.4,EU

In [14]:
# filter DataFrame to only include European countries with wine_servings > 300
drinks[(drinks.continent == 'EU') & (drinks.wine_servings > 300)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,EU
61,France,127,151,370,11.8,EU
136,Portugal,194,67,339,11.0,EU

In [15]:
# calculate the average 'beer_servings' for all of Europe
drinks[drinks.continent == 'EU'].beer_servings.mean()

193.77777777777777

In [16]:
# determine which 10 countries have the highest total_litres_of_pure_alcohol
drinks.sort('total_litres_of_pure_alcohol', ascending=False).head(10)

E:\Anaconda2\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
15,Belarus,142,373,42,14.4,EU
98,Lithuania,343,244,56,12.9,EU
3,Andorra,245,138,312,12.4,EU
68,Grenada,199,438,28,11.9,NaN
45,Czech Republic,361,170,134,11.8,EU
61,France,127,151,370,11.8,EU
141,Russian Federation,247,326,73,11.5,AS
81,Ireland,313,118,165,11.4,EU
155,Slovakia,196,293,116,11.4,EU
99,Luxembourg,236,133,271,11.4,EU

In [17]:
# rename the column 'beer_servings' to 'beer'
drinks=drinks.rename(columns = {'beer_servings':'beer'})
drinks.head()

,country,beer,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [18]:
# add a new column as a function of existing columns, total_servings = beer + wine + spirits
drinks['total_servings']=drinks['beer']+drinks['wine_servings']+drinks['spirit_servings']
drinks

,country,beer,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent,total_servings
0,Afghanistan,0,0,0,0.0,AS,0
1,Albania,89,132,54,4.9,EU,275
2,Algeria,25,0,14,0.7,AF,39
3,Andorra,245,138,312,12.4,EU,695
4,Angola,217,57,45,5.9,AF,319
5,Antigua & Barbuda,102,128,45,4.9,NaN,275
6,Argentina,193,25,221,8.3,SA,439
7,Armenia,21,179,11,3.8,EU,211
8,Australia,261,72,212,10.4,OC,545
9,Austria,279,75,191,9.7,EU,545
10,Azerbaijan,21,46,5,1.3,EU,72
11,Bahamas,122,176,51,6.3,NaN,349
12,Bahrain,42,63,7,2.0,AS,112
13,Bangladesh,0,0,0,0.0,AS,0
14,Barbados,143,173,36,6.3,NaN,352
15,Belarus,142,373,42,14.4,EU,557
16,Belgium,295,84,212,10.5,EU,591
17,Belize,263,114,8,6.8,NaN,385
18,Benin,34,4,13,1.1,AF,51
19,Bhutan,23,0,0,0.4,AS,23
20,Bolivia,167,41,8,3.8,SA,216
21,Bosnia-Herzegovina,76,173,8,4.6,EU,257
22,Botswana,173,35,35,5.4,AF,243
23,Brazil,245,145,16,7.2,SA,406
24,Brunei,31,2,1,0.6,AS,34
25,Bulgaria,231,252,94,10.3,EU,577
26,Burkina Faso,25,7,7,4.3,AF,39
27,Burundi,88,0,0,6.3,AF,88
28,Cote d'Ivoire,37,1,7,4.0,AF,45
29,Cabo Verde,144,56,16,4.0,AF,216
...,...,...,...,...,...,...,...
163,Suriname,128,178,7,5.6,SA,313
164,Swaziland,90,2,2,4.7,AF,94
165,Sweden,152,60,186,7.2,EU,398
166,Switzerland,185,100,280,10.2,EU,565
167,Syria,5,35,16,1.0,AS,56
168,Tajikistan,2,15,0,0.3,AS,17
169,Thailand,99,258,1,6.4,AS,358
170,Macedonia,106,27,86,3.9,EU,219
171,Timor-Leste,1,1,4,0.1,AS,6
172,Togo,36,2,19,1.3,AF,57
173,Tonga,36,21,5,1.1,OC,62
174,Trinidad & Tobago,197,156,7,6.4,NaN,360
175,Tunisia,51,3,20,1.3,AF,74
176,Turkey,51,22,7,1.4,AS,80
177,Turkmenistan,19,71,32,2.2,AS,122
178,Tuvalu,6,41,9,1.0,OC,56
179,Uganda,45,9,0,8.3,AF,54
180,Ukraine,206,237,45,8.9,EU,488
181,United Arab Emirates,16,135,5,2.8,AS,156
182,United Kingdom,219,126,195,10.4,EU,540
183,Tanzania,36,6,1,5.7,AF,43
184,USA,249,158,84,8.7,NaN,491
185,Uruguay,115,35,220,6.6,SA,370
186,Uzbekistan,25,101,8,2.4,AS,134
187,Vanuatu,21,18,11,0.9,OC,50
188,Venezuela,333,100,3,7.7,SA,436
189,Vietnam,111,2,1,2.0,AS,114
190,Yemen,6,0,0,0.1,AS,6
191,Zambia,32,19,4,2.5,AF,55
192,Zimbabwe,64,18,4,4.7,AF,86

In [19]:
# remove the column you just added
drinks=drinks.drop('total_servings',1)
drinks.head()

,country,beer,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF