# SYD DAT 3 Lab 1 - Git and Markdown

##Homework:

#### Setup
* Resolve any installation issues before next class.
* Make sure you have a github profile and created a repo called "SYD_DAT_4"
* Clone the class repo (this one!)
* Review this [code](../labs/Week 1/00_python_refresher.py) for a recap of some Python basics.

#### Communication
* Read [Analyzing the Analyzers](http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf) for a useful look at the different types of data scientists. Write down 5 key points you took away from the article
* Read about some [Markdown Techniques](http://daringfireball.net/projects/markdown/syntax)
* Write a summary of 2 chapters of [The Data Science Handbook](http://www.thedatasciencehandbook.com/) in Markdown and submit a pull request in the Lab Directory

#### Programming
* Complete the lab from class and the additional Exercise below

#### Course Project
* Come up with 5 different ideas for your course project. For each one list:
  * Overview of your idea
  * What data you will use
  * What the outcome is that you are trying to achieve
  * Any ideas of modelling techniques it may involve

**Instructions: copy this file and append your name in the filename, e.g. Homework1_ian_hansel.ipynb.
Then commit this in your local repository, push it to your github account and create a pull request so I can see your work. Remeber if you get stuck to look at the slides going over Fork, Clone, Commit, Push and Pull request.**

---

# Homework 1 - Analyzing the analyzers:

1. Analyzing the Analizers 5 key point

    * There is a lot of confusion about what a Data Scientist actually is, and it can cause a lot of trouble for both organizations and professionals
    * Clustering on self-reported personality traits is an awesome approach, keen to give it a twirl!
    * T-shaped skills are an interesting approach, i have to work on my statistics skills
    * As i mainly contract, i skew personally more towards Jack-of-all-trades, it's interesting to see it's representation in the data set.
    * As happened with Product Management 10 years ago, Data Science is a new role and we don't yet have a [Good Data Scientist / Bad Data Scientist](http://www.khoslaventures.com/wp-content/uploads/Good_Product_Manager_Bad_Product_Manager_KV.pdf) framework.  
    
---
> Great summary Alex. I like how you related it back to yourself and where you fit in. Good work!

---

# Homework 2 - 5 Project ideas:

## Finding ideal thresholds for quantitative "natural language" metrics:

> There is a wealth of quantitative metrics for web analytics (Bounce Rate, Time on Site, Pageviews) but none for the content portrayed on those sites. The objective of this project is to find natural language metrics that matter to outcomes (Likelihood To Read, Time on Site, Conversions) and then build a model to define ideal thresholds for a web property.

**Data:** All of the content of two popular we properties + the web analytics information associated to them.

>> Really interesting project. We should talk more about this, because it may be very difficult depending on your dataset.

## Pricing model for accomodations:

> The site evasion.co.kr provides accomodations for Korean travelers, pricing for accommodations is set by benchmarking competitor prices but could be done based on intrinsic features.

**Data:** Database of accommodations, sales information, web analytics.

>> Great idea, real problem that can be solved with data.

## Create model to optimize "likelihood to engage" in an online Peer to Peer support community.

> At hellosundaymorning.org people form online support groups for changing the way they drink. Currently there is a "discover" feed that shows you new people as they are coming up, but is not optimized in any way for what people are shown. Some poeple don't have relatable expereinces to don't engage with one another, while others have differing points of view that create negative engagemetns. The idea is to create a model for what person should be introduced to which person.

**Data:** Database of user profiles, comments, posts, and conversations between users.

>> Similar to the first idea, I really like it. Just depends on the underlying data. 

## Finding revenue opportunitites for Evasion.co.kr

> The Optimization team at evasion.co.kr is currently operating off a backlog that is based on user feedback and basic web analytics, the objective of this project would be to perform exploratory work on their Db Data to find gaps in revenue model based on pricing, search ordering, missing information or other yet-unknown factors.

**Data:** Database of accommodations, sales information, web analytics.

>> This is a bit tricky as you're not really sure what you're looking for (especially given the time frame of the course). Although a good data profiling piece with some outlier analysis could be useful and applicable depending on the data.

## Create model to define "proportion of valence" in a feed of posts at Hello Sunday Morning.

> The Hello Sunday Morning platform offers a feed of new posts for people to read and discover, the hypothesis is that given the right proportion of positive/negative posts the mood of the reader can be shifted towards higher openness to change and therefore better likelihood of dropping their alcohol consumption

**Data:** Database of people, feed items, web analytics, and alcohol consumption surveys.  

> 

---

# Homework 3 - Complete the Lab

Added file [here](../labs/Week 1/Lab 1_alex_mrvaljevich.ipynb)

---

# Homework 4 - Data Science Handbook:

My take on these chapters is one about the defenition of an industry, more so than a role. 
Similar to what happened to product management for software about 15 years ago, this is a role that is not yet defined in the industry nor clear to practitioners or hirers. This is a great place to be as we are writing the rulebook as we go along. 

The potential is clear, and we are all sure that there is tremendous value in looking at data differently, with a mix of science, hacking, and magic to find new opportunities in this brave new world of interconnected data; Exaclty how is something we are trying to uncover now.

A few things are important though: 

The first is that we cannot forget this is a team sport, we need to work with the business and other Data Scientists if we are to get to the high levels of output that are expected in the industry.

The second is that we must be open to breaking out of our bound a little, and explore areas of knowledge even if they don't seem to fit our label as clearly as we'd like


> Great write-up, it's a team sport (which ties in with the T-shape and complimentary skill sets). Yes, a lot of data science is trying things in different fields, that's one of the things that makes it great. Trying some things in a new field and seeing if it works.

## Homework Five - Movie Lens Data:

In [2]:
import pandas as pd

In [3]:
# read 'u.user' into 'users'
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_table('u.user', sep='|', header=None, names=user_cols, index_col='user_id', dtype={'zip_code':str})

In [5]:
# for each occupation in 'users', count the number of occurrences
users.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [6]:
# for each occupation, calculate the mean age
users.groupby("occupation")["age"].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

In [10]:
# for each occupation, calculate the minimum and maximum ages
users.groupby("occupation")["age"].min()

occupation
administrator    21
artist           19
doctor           28
educator         23
engineer         22
entertainment    15
executive        22
healthcare       22
homemaker        20
lawyer           21
librarian        23
marketing        24
none             11
other            13
programmer       20
retired          51
salesman         18
scientist        23
student           7
technician       21
writer           18
Name: age, dtype: int64

In [9]:
users.groupby("occupation")["age"].max()

occupation
administrator    70
artist           48
doctor           64
educator         63
engineer         70
entertainment    50
executive        69
healthcare       62
homemaker        50
lawyer           53
librarian        69
marketing        55
none             55
other            64
programmer       63
retired          73
salesman         66
scientist        55
student          42
technician       55
writer           60
Name: age, dtype: int64

In [15]:
# for each combination of occupation and gender, calculate the mean age
users.groupby(["occupation", "gender"])["age"].mean()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
educator       F         39.115385
               M         43.101449
engineer       F         29.500000
               M         36.600000
entertainment  F         31.000000
               M         29.000000
executive      F         44.000000
               M         38.172414
healthcare     F         39.818182
               M         45.400000
homemaker      F         34.166667
               M         23.000000
lawyer         F         39.500000
               M         36.200000
librarian      F         40.000000
               M         40.000000
marketing      F         37.200000
               M         37.875000
none           F         36.500000
               M         18.600000
other          F         35.472222
               M         34.028986
programmer     F         32.166667
               M         33.216667
retired        F         70.000000
               M         62.538462
salesman       F         27.000000
               M         38.555556
scientist      F         28.333333
               M         36.321429
student        F         20.750000
               M         22.669118
technician     F         38.000000
               M         32.961538
writer         F         37.631579
               M         35.346154
Name: age, dtype: float64

In [18]:
# randomly sample a DataFrame
users.sample(n = 20)

         age gender     occupation zip_code
user_id
474       51      M      executive    93711
930       28      F      scientist    07310
772       50      M         writer    27105
356       32      F      homemaker    92688
523       50      F  administrator    04102
496       21      F        student    55414
815       32      M          other    28806
250       29      M      executive    95110
124       34      M        student    60615
898       23      M      homemaker    61755
413       55      M       educator    78212
120       47      F          other    06260
24        21      F         artist    94533
68        19      M        student    22904
470       24      M     programmer    10021
171       48      F       educator    78750
206       14      F        student    53115
753       56      M       salesman    91206
940       32      M  administrator    02215
325       48      M     technician    02139

In [19]:
# detect duplicate users
users.duplicated()

user_id
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
30     False
       ...
914    False
915    False
916    False
917    False
918    False
919    False
920    False
921    False
922    False
923    False
924    False
925    False
926    False
927    False
928    False
929    False
930    False
931    False
932    False
933    False
934    False
935    False
936    False
937    False
938    False
939    False
940    False
941    False
942    False
943    False
dtype: bool